modules = ["python-base-3.13"]
run = "python main.py"

[nix]
channel = "stable-25_05"
packages = ["nano", "python313Packages.python-dotenv", "python313Packages.python-telegram-bot"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot"

[[workflows.workflow]]
name = "Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python bot.py"

[workflows.workflow.metadata]
outputType = "console"
